.clue {
  background-color: #3a3261;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.clue-text {
  padding: 20px 100px;
}

.arrows {
  height: 25px;
  padding: 0 20px;
  filter: invert(100%);
}