.hint-icon {
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  filter: invert(14%) sepia(11%) saturate(4806%) hue-rotate(150deg) brightness(98%) contrast(102%);
}

.icon-round-bg {
  background-color: rgb(253,246,227);
  border-radius: 50%;
  height: 25px;
  cursor: pointer;
}

#hint-menu .MuiPaper-root {
  background-color: rgb(238,232,213);
  color: rgb(87,110,117);
}
