.Keyboard {
  width: 100%;
  background-color: rgb(0,44,54);
}

.first-row {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  justify-content: space-between;
  margin-bottom: 2px;
}

.second-row {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  justify-content: space-evenly;
  margin-bottom: 2px;
}

.third-row {
  display: grid;
  grid-template-columns: 60px repeat(7, 30px) 60px;
  justify-content: space-evenly;
}



.Keyboard Button {
  background-color: rgb(131,148,150);
  color: rgb(238,232,213);
  border: 1px solid rgb(6,54,66);
  margin: 2px;
  font-size: 20px;
  font-weight: normal;
}
 
.Keyboard .MuiButtonBase-root {
  min-width: 10px;
  height: 35px;
}

.Keyboard Button:hover {
  background-color: #576E75;
}