.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.navbar h1 {
  font-size: 1rem;

}

.navbar .MuiButton-root {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 12px;
  font-weight: 300;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0px;
  min-width: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .MuiButton-root.Mui-disabled {
  background-color: gray;
  color: black;
  border-color: black;
}

.navbar .MuiButton-root:hover {
  background-color: pink;
}

.info-icon, .pencil-icon, .hint-icon {
  height: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.pencil-active {
  background-color: pink;
}