.square {
  border: 0.25px solid black;
  background-color: #59595b;
  display: grid;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  font-size: 18px;
}

.square-gridnum {
  height: 12px;
  font-size: 10px;
  display: flex;
  color: white;
}

.square-value {
  color: white;
}

.square:focus {
  outline: none;
}

.focused-letter {
  background-color: rgb(121, 139, 218);
}

.focused-word {
  background-color: rgb(151, 190, 237);
}

.rebus-square {
  transform: scale(1.25);
  background-color: rgb(63, 5, 115);
  z-index: 10;
  font-size: 14px;
}

.block {
  background-color: black;
  border: none;
}

.wrong-answer-overlay {
  position: absolute;
  border: 1px solid red;
  background: red;
  width: calc(1.414 * 100%);
  transform: rotate(-45deg);
  transform-origin: bottom left;
  bottom: -2px; 
  left: -1px;
}

.partially-correct-overlay {
  position: absolute;
  border: 1px solid yellow;
  background: yellow;
  width: calc(1.414 * 100%);
  transform: rotate(-45deg);
  transform-origin: bottom left;
  bottom: -2px; 
  left: -1px;
}

.verified-overlay {
  color:rgb(12, 194, 67)
}

.revealed-overlay {
  background: linear-gradient(to top right, transparent 85%,#970b0b 10%) top right/40px 40px no-repeat; 
  overflow: hidden;
}

.revealed-marker {
  background: white;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  margin: 2px;
}



