:root {
  --app-height: 93vh;
  --app-width: 100%;
  --bar-height: 8vh;
  --max-board-height: 53vh;
  --max-clue-height: 10vh;
  --board-padding: 2px;
  --keyboard-height: 16vh;
  --keyboard-row-margin: 1px;
}

/* Mobile-first - layout for mobile and portrait tablet */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--app-height);
  width: var(--app-width);
}

.loading {
  color: #FDF6E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.title-bar {
  height: var(--bar-height);
  /* background:green; */
}

.navbar {
  height: var(--bar-height);
}

.Board {
  width: 100%;
  max-height: var(--max-board-height);
  padding: 0 var(--board-padding);
}

.clue {
  max-height: var(--max-clue-height);
}

.Keyboard {
  width: 100%;
  min-height: var(--keyboard-height);
  /* background:red; */
}

.Keyboard .MuiButtonBase-root {
  min-width: 10px;
  min-height: var(--keyboard-button-min-height);
}

/* Overriden layout properties for landscape tablets */
@media (min-width: 1000px) and (hover: none) {
  :root {
    --widescreen-left-width: 50%;
    --widescreen-right-width: 50%;
    --middle-section-height: calc(var(--app-height) * 0.55);
  }

  .App {
    display: grid;
    grid-template-columns: var(--widescreen-left-width) var(--widescreen-right-width);
    grid-template-rows: var(--bar-height) var(--middle-section-height) var(--keyboard-height);
  }

  .title-bar {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    background-color: rgb(6,54,66);
  }

  .navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  } 


  .Board {
    grid-row: 2 / 4;
    max-height: 100%;
  }

  .clue-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
  }

  .clue {
    height: 15vh;
    width: 80%;
    align-self: center;
  }

  .clue-heading {
    color: #DCD7C9;
    align-self: flex-start;
    padding-left: 60px; 
    margin-bottom: 5px;
  }

  .Keyboard {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-right: 15px;
  }
}

/* Overriden properties for desktop */
@media (hover: hover) {
  .container {
    display: flex;
    justify-content: center;
  }
  .App {
    display: grid;
    --barH: min(80px, var(--bar-height));
    grid-template-rows: var(--barH) calc(var(--barH) + 50px) var(--barH) calc(100% - (3 * var(--barH) + 50px));
    justify-content: initial;
  }

  .title-bar {
    background-color: rgb(6,54,66);
  }

  .title-bar,
  .navbar,
  .clue-container,
  .clue {
    max-height: 80px;
  }

  .navbar {
    background-color: rgb(0,44,54);
  }

  .navbar,
  .clue-container,
  .Board {
    max-width: 1000px;
    justify-self: center;
  }

  .clue-container {
    width: var(--board-width);
  }

  .Board {
    max-height: 100%;
    justify-content: center;
  }

  .clue-container {
    grid-row: 3 / 4;
  }

  .clue {
    background-color: rgb(196, 212, 212);
    color: #073642;
    font-weight: bold;
    font-size: min(18px, 2vh);

  }

  .arrows {
    filter: invert(16%) sepia(11%) saturate(5493%) hue-rotate(153deg) brightness(93%) contrast(95%);
  }

}



