
.Board {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--numCols), 1fr);
  grid-auto-columns: max-content;
  overflow-x: auto;
  padding: 5px;
}

@media (max-width: 599px) {
  .Board {
    grid-template-rows: repeat(var(--numRows), 3fr);
    max-height: 50vh;
    overflow: scroll;
    touch-action: pinch-zoom pan-x pan-y;
  }
}

@media (min-width: 600px) {
  .Board {
    grid-template-rows: repeat(var(--numRows), calc(600px/var(--numRows)));
  }
}