:root {
  --numRows: auto-fill;
  --numCols: auto-fill;
  --boardWidth: calc(100%);
  --boardHeight: 91vh;
  --board-padding: 5px;
}

.Board {
  display: grid;
  --squareSideLength: calc(var(--app-width)/var(--numCols));
  grid-template-columns: repeat(var(--numCols), var(--square-side-length));
  grid-template-rows: repeat(var(--numRows), var(--square-side-length));
  overflow-x: auto;
}

@media (max-width: 599px) {
  .Board {
    --boardHeight: 50vh;
    overflow: scroll;
    touch-action: pinch-zoom pan-x pan-y;
  }
}