.clue {
  background-color: #063642;
  height: 55px;
  color: #DCD7C9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.clue-text {
  padding: 20px 20px;
}

.arrows {
  height: 25px;
  filter: invert(95%) sepia(12%) saturate(221%) hue-rotate(1deg) brightness(92%) contrast(87%);
}

.arrow-container {
  padding: 15px 20px;
}