:root {
  --numRows: auto-fill;
  --numCols: auto-fill;
  --my-focused-word-color: rgb(38,139,210);
  --my-focused-letter-color: rgb(38,139,210);
  --opacity: 0.5;
  --yellow: rgb(181,137,22);
  --orange: rgb(203,75,22);
  --red: rgb(220,50,47);
  --magenta: rgb(211,54,130);
  --violet: rgb(108,113,196);
  --violet-shaded: rgb(132, 134, 174);
  --blue: rgb(38,139,210);
  --cyan: rgb(42,161,152);
  --green: rgb(133,153,26);
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(0,44,54)
}

body {
  font-family: 'Roboto', sans-serif;
}