.navbar {
  color: rgb(238,232,213);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(6,54,66);
  border: 1px solid rgb(6,54,66);
  width: 100%;
}

.navbar h1 {
  font-size: 1rem;
}

.title-bar {
  display: flex;
  margin: 0;
  padding: 10px 20px;
  background-color: rgb(6,54,66);
  justify-content: space-between;
}

.player-box {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}

.title-bar h1 {
  margin: 0;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-weight: 600; */
  font-size: 1.25rem;
  color: rgb(238,232,213);
  padding: 10px;

}

.navbar .MuiButton-root {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 11px;
  font-weight: 300;
  background-color: rgb(253,246,227);
  color: rgb(0,44,54);
  padding: 0px;
  min-width: 35px;
  border-radius: 5px;
  cursor: pointer;
  min-height: 25px;
}

.navbar Button.rebus-active {
  background-color:  rgb(38,139,210);
  color: rgb(0,44,54);
}

.navbar .MuiButton-root:hover {
  background-color:  rgb(253,246,227);
}

.navbar Button.rebus-active:hover {
  background-color:  rgb(38,139,210);
  color: rgb(0,44,54);
}

.phone-a-friend {
  filter: invert(34%) sepia(80%) saturate(4406%) hue-rotate(129deg) brightness(98%) contrast(94%);
  padding-right: 8px;
}

.icon-bg {
  background-color: #fdf6e3;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}
.info-icon, .pencil-icon, .zoom-icon, .account-icon {
  padding: 3px;
  height: 30px;
  filter: invert(14%) sepia(11%) saturate(4806%) hue-rotate(150deg) brightness(98%) contrast(102%);
}

.zoom-icon, .account-icon {
  padding: 1px;
}

.pencil-active {
  background-color: rgb(38,139,210);
}

.hint-icon {
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  filter: invert(14%) sepia(11%) saturate(4806%) hue-rotate(150deg) brightness(98%) contrast(102%);
}

.gameMenu-title {
  /* font-family: 'Roboto Mono', monospace; */
  cursor: pointer;
}

.date-subtitle {
  color: #657B83;
  padding-left: 8px;
  font-size: 0.9rem;
}

.heading-dow {
  font-weight: bold;
}

.heading-date {
  opacity: 80%;
  padding-left: 5px;
}

.icon-round-bg {
  background-color: #fdf6e3;
  border-radius: 50%;
  height: 30px;
  cursor: pointer;
}

.menu .MuiPaper-root {
  background-color: rgb(238,232,213);
  color: rgb(0,44,54);
}


.navbar .MuiAvatar-root {
  /* background-color: rgb(211,55,130); */
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.displayName.MuiMenuItem-root {
  cursor: default;
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(89,110,117);
}

.submenu-heading.MuiMenuItem-root {
  padding-top: 7px;
  padding-bottom: 3px;
  cursor: default;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: rgb(89,110,117);
}

.focused-menu-item.MuiMenuItem-root {
  font-weight: bold;
  /* color: #278BD2; */
  background-color: rgba(39,139,210, 0.1)
}

.avatar-img {
  width: 100%;
  cursor: pointer;
}

.avatar-bg.MuiAvatar-circular {
  border: 5px solid;
}

.yellow-border.avatar-bg.MuiAvatar-circular {
  border-color: rgb(181,137,22);
}

.orange-border.avatar-bg.MuiAvatar-circular {
  border-color: rgb(203,75,22);
}

.red-border.avatar-bg.MuiAvatar-circular {
  border-color:  rgb(220,50,47);
}

.magenta-border.avatar-bg.MuiAvatar-circular {
  border-color:  rgb(211,54,130);
  background-color: rgb(211,54,130);
}

.violet-border.avatar-bg.MuiAvatar-circular {
  border-color: rgb(108,113,196)
}

.blue-border.avatar-bg.MuiAvatar-circular {
  border-color: rgb(38,139,210);
}

.cyan-border.avatar-bg.MuiAvatar-circular {
  border: 3px solid rgb(42,161,152);
}

.green-border.avatar-bg.MuiAvatar-circular {
  border: 3px solid rgb(133,153,26);
}

.offline.avatar-bg.MuiAvatar-circular {
  opacity: 0.5;
}

.color-choices {
  display: flex;
  column-gap: 5px;
  padding: 5px 10px;
  align-items: center;
}

.color-blob {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.yellow {
  background-color: rgb(181,137,22);
}

.orange {
  background-color: rgb(203,75,22);
}

.red {
  background-color: rgb(220,50,47);
}

.magenta {
  background-color: rgb(211,54,130);

}

.violet {
  background-color: rgb(108,113,196)
}

.blue {
  background-color: rgb(38,139,210);
  width: 26px;
  height: 26px;
  border: 3px solid rgb(240, 233, 3);
}

.cyan {
  background-color: rgb(42,161,152);
}

.green {
  background-color: rgb(133,153,26);
}