.square {
  border: 0.1px solid rgb(87,110,117);
  background-color: rgb(238, 232, 213);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-gridnum {
  padding: 2px;
  position: absolute;
  top: -1px; 
  left: -1px;
  font-size: calc(var(--square-side-length) * 0.25);
  display: flex;
  color: rgb(60, 85, 92);
  z-index: 5;
}

.square-value {
  font-weight: bold;
  padding-top: 5px;
  font-size: calc(var(--square-side-length) * 0.6);
}

.penciled-color {
  opacity: 50%;
}

.square:focus {
  outline: none;
}

.rebus-square {
  transform: scale(1.25);
  z-index: 10;
  font-size: 14px;
}

.block {
  background-color: rgb(87,110,117);
  border: none;
}

.circle {
  border: 1px solid rgb(87,110,117);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.wrong-answer-overlay {
  position: absolute;
  border: 1px solid rgb(220,50,47);
  background: rgb(220,50,47);
  width: calc(1.414 * 100%);
  transform: rotate(-45deg);
  transform-origin: bottom left;
  bottom: -1px;
  left: 0px;
}

.partially-correct-overlay {
  position: absolute;
  border: 1px solid rgb(181,137,22);
  background: rgb(181,137,22);
  width: calc(1.414 * 100%);
  transform: rotate(-45deg);
  transform-origin: bottom left;
  bottom: -1px;
  left: 0px;
}

.revealed-color {
  color: rgb(0,44,54);
}

:root {
  --current-square-bg-color: rgb(238, 232, 213);
}

.verified-overlay {
  background: linear-gradient(to top right, var(--current-square-bg-color) 85%,rgb(4, 141, 25) 10%) top right/var(--square-side-length) var(--square-side-length) no-repeat; 
  overflow: hidden;
}

.revealed-overlay {
  background: linear-gradient(to top right, var(--current-square-bg-color) 85%,rgb(211,54,130) 10%) top right/var(--square-side-length) var(--square-side-length) no-repeat; 
  overflow: hidden;
}

.revealed-marker {
  background: #FDF6E3;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  margin: 2px;
}

.red-text {
  color: var(--red);
}
.orange-text {
  color: var(--orange);
}
.yellow-text {
  color: var(--yellow);
}
.magenta-text {
  color: var(--magenta);
}
.green-text {
  color: var(--green);
}
.cyan-text {
  color: var(--cyan);
}
.blue-text {
  color: var(--blue);
}
.violet-text {
  color: var(--violet);
}

.red-focus-square {
  background-color: var(--red-focus-square);
}
.red-focus-word {
  background-color: var(--red-focus-word);
}

.orange-focus-square {
  background-color: var(--orange-focus-square);
}
.orange-focus-word {
  background-color: var(--orange-focus-word);
}
.yellow-focus-square {
  background-color: var(--yellow-focus-square);
}
.yellow-focus-word {
  background-color: var(--yellow-focus-word);
}
.green-focus-square {
  background-color: var(--green-focus-square);
}
.green-focus-word {
  background-color: var(--green-focus-word);
}
.cyan-focus-square {
  background-color: var(--cyan-focus-square);
}
.cyan-focus-word {
  background-color: var(--cyan-focus-word);
}
.blue-focus-square {
  background-color: var(--blue-focus-square);
}
.blue-focus-word {
  background-color: var(--blue-focus-word);
}
.violet-focus-square {
  background-color: var(--violet-focus-square);
}
.violet-focus-word {
  background-color: var(--violet-focus-word);
}
.magenta-focus-square {
  background-color: var(--magenta-focus-square);
}
.magenta-focus-word {
  background-color: var(--magenta-focus-word);
}